# pkg deps
protowhat~=1.8.0
antlr-plsql~=0.8.3
antlr-tsql~=0.12.5

# test deps
pytest~=3.5.0
codecov~=2.0.15
pytest-cov~=2.5.1

# sqlbackend's dependencies (for tests)
sqlalchemy~=1.3.0
python-dotenv~=0.9.1
psycopg2~=2.7.5
# git+https://${GITHUB_TOKEN}@github.com/datacamp/sqlbackend.git/@v1.0.4

# building documentation
sphinx~=1.7.4
sphinx_rtd_theme~=0.3.1
